.card {
    margin-left: 100px;
    margin-top: 50px;
    width: 300px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin-bottom: 20px;
    flex-basis: calc(33.333% - 10px);
    margin-right: 100px;
  }

  .user-con{
    margin-left: 150px;
  }