.label-con{
    width 100px;
    margin-top: 200px;
    margin-left: 500px;
}
.first-con{
    width: 300px;
}
.second-con{
    width: 300px;
}
.th-con{
    width: 300px;
}
.pass-btn{
    margin-left: -100px;
}
